nav
{
	height: 51px;
}
.dropdown-toggle
{
	padding-top: 10px !important;
	padding-bottom:10px !important;
}
.small-box .bg-yellow
{
	padding-bottom: 0px!important;
	margin-bottom: 0px!important;
}
body
{
	 background-color: #3d3d3d!important;
}
html
{
	 background-color: #3d3d3d!important;
}
#app
{
	 background-color: #3d3d3d!important;	
}
.skin-blue .main-header .logo
{
	 background-color: #3d3d3d!important;		
}
.skin-blue .main-header .navbar
{
	 background-color: #3d3d3d!important;		
}
.content-wrapper, .right-side
{
	 background-color: #fff!important;	
}